@import "tailwindcss";

:root {

    --bg-main: #0B0C10;
    --bg-card: #16181E;
    --bg-hover: #1E2129;

    --gold: #D4AF37;
    --gold-light: #F1D98A;
    --gold-dark: #A17C1E;

    --text-white: #F5F5F7;
    --text-gray: #C1C1C7;
    --text-dark: #82828A;

    /* Bordures */
    --border: #2A2D36;
    --border-light: #D4AF37;

    --radius: 6px;
    --transition: 0.15s ease;
}